# ---------- Servidor ----------
PORT=3000
NODE_ENV=development
 
# ---------- Base de datos MariaDB ----------
DB_HOST=127.0.0.1
DB_PORT=3306
DB_USER=lab_app
DB_PASSWORD=CambiaEsta_Clave2026
DB_NAME=lab_escolar
 
# ---------- Seguridad ----------
# Genera uno propio con:
# node -e "console.log(require('crypto').randomBytes(48).toString('hex'))"
JWT_SECRET=pon_aqui_una_cadena_larga_y_aleatoria